node_modules
lib
dist

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.husky/*
!.husky/init.sh
!.husky/pre-commit
!.husky/commit-msg
!.husky/install.js

npm-debug.log
*.swp
*.swo
*.log
*.pid
*.seed
*.pid.lock
.exe
.ini
.DS_Store